// Form Elements

// Input
.captcha {
	padding-top: 15px;
}

.input,
.textarea {
	width: auto;
	padding: 7px 10px;
	height: 35px;
	font-size: 14px;
	color: $input-color;
	border: 1px solid $input-border;
	@include transition(all 0.2s $ease);
	@include placeholder {
		color: $input-color;
	}
	&:hover {
		color: darken($input-color, 10%);
		border-color: darken($input-border, 10%);
	}
	&:focus {
		color: darken($input-color, 20%);
		border-color: darken($input-border, 20%);
	}
}

// Textarea
.textarea {
	height: 120px;
}

// Button
.button {
	display: inline-block;
	position: relative;
	color: $white;
	padding: 0 10px;
	height: 37px;
	line-height: 35px;
	font-size: 14px;
	cursor: pointer;
	background-color: $red;
	border: 1px solid darken($red, 3%);
	@include transition(all 0.2s $ease);
	&:hover { 
		background-color: darken($red, 10%);
		border-color: darken($red, 20%);
	}
}
.big-button {
	display: table;
	clear: both;
	height: auto;
	line-height: normal;
	padding: 15px 45px;
	margin: 30px auto 0 auto;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: $light;
	border-bottom: 4px solid darken($red, 15%);
}





