/*clearfix*/
.group {
 *zoom: 1;
}
.group:before, .group:after {
	display: table;
	content: "";
	line-height: 0;
}
.group:after {
	clear: both;
}

.lightGallery {
	overflow: hidden!important;
}
#lightGallery-Gallery img {
	border: none!important;
}
#lightGallery-outer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999!important;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	opacity: 1;
	-webkit-transition: opacity 0.35s ease;
	-moz-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	-ms-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
	background: #0d0d0d;
	background: rgba(0, 0, 0, 0.85);
}
#lightGallery-outer .lightGallery-slide{
	position: relative;
}
/*lightGallery starting effects*/
#lightGallery-Gallery.opacity {
	opacity: 1;
	transition: opacity 1s ease 0s;
	-moz-transition: opacity 1s ease 0s;
	-webkit-transition: opacity 1s ease 0s;
	-o-transition: opacity 1s ease 0s;
	-ms-transition: opacity 1s ease 0s;
}
#lightGallery-Gallery.opacity .thumb_cont {
	opacity: 1;
}
#lightGallery-Gallery.fadeM {
	opacity: 0;
	transition: opacity 0.5s ease 0s;
	-moz-transition: opacity 0.5s ease 0s;
	-webkit-transition: opacity 0.5s ease 0s;
	-o-transition: opacity 0.5s ease 0s;
	-ms-transition: opacity 0.5s ease 0s;
}
/*lightGallery starting effects*/


/*lightGallery core*/
#lightGallery-Gallery {
	height: 100%;
	opacity: 0;
	width: 100%;
	position: relative;
	transition: opacity 1s ease 0s;
	-moz-transition: opacity 1s ease 0s;
	-webkit-transition: opacity 1s ease 0s;
	-o-transition: opacity 1s ease 0s;
	-ms-transition: opacity 1s ease 0s;
}
/**/
#lightGallery-slider {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	position: absolute;
	white-space: nowrap;
}
/**/
#lightGallery-slider .lightGallery-slide {
	background: image-url('loading.gif') no-repeat scroll center center transparent;
	display: inline-block;
	height: 100%;
	text-align: center;
	width: 100%; 
}
#lightGallery-slider .lightGallery-slide.complete {
	background-image: none;
}
#lightGallery-Gallery.showAfterLoad .lightGallery-slide > * {
	opacity: 0;
}
#lightGallery-Gallery.showAfterLoad .lightGallery-slide.complete > * {
	opacity: 1;
}
#lightGallery-slider.slide .lightGallery-slide, #lightGallery-slider.useLeft .lightGallery-slide {
	position: absolute;
	opacity: 0.4;
}
#lightGallery-slider.fadeM .lightGallery-slide {
	position: absolute;
	left: 0;
	opacity: 0;
}
#lightGallery-slider.animate .lightGallery-slide {
	position: absolute;
	left: 0;
}
#lightGallery-slider.fadeM .current {
	opacity: 1;
	z-index: 9;
}
#lightGallery-slider .lightGallery-slide:before {
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right: -1px;
}
#lightGallery-Gallery.opacity .lightGallery-slide .object{
	transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	-webkit-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
}
.lightGallery-slide .object{
	transform: scale3d(0.5, 0.5, 0.5);
	-moz-transform: scale3d(0.5, 0.5, 0.5);
	-ms-transform: scale3d(0.5, 0.5, 0.5);
	-webkit-transform: scale3d(0.5, 0.5, 0.5);
	-o-transform: scale3d(0.5, 0.5, 0.5);
	-webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
	-moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
	-o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
	-ms-transition: -ms-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
	transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
}
#lightGallery-Gallery.fadeM .lightGallery-slide .object{
	transform: scale3d(0.5, 0.5, 0.5);
	-moz-transform: scale3d(0.5, 0.5, 0.5);
	-ms-transform: scale3d(0.5, 0.5, 0.5);
	-webkit-transform: scale3d(0.5, 0.5, 0.5);
	-o-transform: scale3d(0.5, 0.5, 0.5);
}
#lightGallery-slider.fadeM.on .current {
	opacity: 1;
	transition: opacity 0.5s ease 0s;
	-moz-transition: opacity 0.5s ease 0s;
	-webkit-transition: opacity 0.5s ease 0s;
	-o-transition: opacity 0.5s ease 0s;
	-ms-transition: opacity 0.5s ease 0s;
}
#lightGallery-slider.fadeM .lightGallery-slide {
	transition: opacity 0.4s ease 0s;
	-moz-transition: opacity 0.4s ease 0s;
	-webkit-transition: opacity 0.4s ease 0s;
	-o-transition: opacity 0.4s ease 0s;
	-ms-transition: opacity 0.4s ease 0s;
}
#lightGallery-slider.slide .lightGallery-slide {
	transform: translate3d(100%, 0px, 0px);
	-moz-transform: translate3d(100%, 0px, 0px);
	-ms-transform: translate3d(100%, 0px, 0px);
	-webkit-transform: translate3d(100%, 0px, 0px);
	-o-transform: translate3d(100%, 0px, 0px);
}
#lightGallery-slider.slide.on .lightGallery-slide {
	opacity: 0;
}
#lightGallery-slider.slide .lightGallery-slide.current {
	opacity: 1 !important;
	transform: translate3d(0px, 0px, 0px) !important;
	-moz-transform: translate3d(0px, 0px, 0px) !important;
	-ms-transform: translate3d(0px, 0px, 0px) !important;
	-webkit-transform: translate3d(0px, 0px, 0px) !important;
	-o-transform: translate3d(0px, 0px, 0px) !important;
}
#lightGallery-slider.slide .lightGallery-slide.prevSlide {
	opacity: 0;
	transform: translate3d(-100%, 0px, 0px);
	-moz-transform: translate3d(-100%, 0px, 0px);
	-ms-transform: translate3d(-100%, 0px, 0px);
	-webkit-transform: translate3d(-100%, 0px, 0px);
	-o-transform: translate3d(-100%, 0px, 0px);
}
#lightGallery-slider.slide .lightGallery-slide.nextSlide {
	opacity: 0;
	transform: translate3d(100%, 0px, 0px);
	-moz-transform: translate3d(100%, 0px, 0px);
	-ms-transform: translate3d(100%, 0px, 0px);
	-webkit-transform: translate3d(100%, 0px, 0px);
	-o-transform: translate3d(100%, 0px, 0px);
}
#lightGallery-slider.useLeft .lightGallery-slide {
	left: 100%;
}
#lightGallery-slider.useLeft.on .lightGallery-slide {
	opacity: 0;
}
#lightGallery-slider.useLeft .lightGallery-slide.current {
	opacity: 1 !important;
	left: 0% !important;
}
#lightGallery-slider.useLeft .lightGallery-slide.prevSlide {
	opacity: 0;
	left: -100%;
}
#lightGallery-slider.useLeft .lightGallery-slide.nextSlide {
	opacity: 0;
	left: 100%;
}
#lightGallery-slider.slide.on .lightGallery-slide, #lightGallery-slider.slide.on .current, #lightGallery-slider.slide.on .prevSlide, #lightGallery-slider.slide.on .nextSlide {
	-webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
	-moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
	-o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
	-ms-transition: -ms-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
	transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
}
#lightGallery-slider.speed .lightGallery-slide, #lightGallery-slider.speed .current, #lightGallery-slider.speed .prevSlide, #lightGallery-slider.speed .nextSlide {
	transition-duration: inherit !important;
	-moz-transition-duration: inherit !important;
	-webkit-transition-duration: inherit !important;
	-o-transition-duration: inherit !important;
	-ms-transition-duration: inherit !important;
}
#lightGallery-slider.timing .lightGallery-slide, #lightGallery-slider.timing .current, #lightGallery-slider.timing .prevSlide, #lightGallery-slider.timing .nextSlide {
	transition-timing-function: inherit !important;
	-moz-transition-timing-function: inherit !important;
	-webkit-transition-timing-function: inherit !important;
	-o-transition-timing-function: inherit !important;
	-ms-transition-timing-function: inherit !important;
}
#lightGallery-slider .lightGallery-slide img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	cursor: -moz-grabbing;
	cursor: grab;
	cursor: -webkit-grab;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto; 
	vertical-align: middle;
}
#lightGallery-Gallery .thumb_cont .thumb_inner {
	-webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
	-moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
	-o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
	-ms-transition: -ms-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
	transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
}
 @-webkit-keyframes rightEnd {
 0% {
left: 0;
}
 50% {
left: -30px;
}
 100% {
left: 0;
}
}
@keyframes rightEnd {
 0% {
left: 0;
}
 50% {
left: -30px;
}
 100% {
left: 0;
}
}
@-webkit-keyframes leftEnd {
 0% {
left: 0;
}
 50% {
left: 30px;
}
 100% {
left: 0;
}
}
@keyframes leftEnd {
 0% {
left: 0;
}
 50% {
left: 30px;
}
 100% {
left: 0;
}
}
.lightGallery-slide .object.rightEnd {
	-webkit-animation: rightEnd 0.3s;
	animation: rightEnd 0.3s;
	position: relative;
}
.lightGallery-slide .object.leftEnd {
	-webkit-animation: leftEnd 0.3s;
	animation: leftEnd 0.3s;
	position: relative;
}
/*lightGallery core*/


/*action*/
#lightGallery-action {
	bottom: 160px;
	position: fixed;
	left: 50%;
	margin-left: -30px;
	z-index: 100;
	-webkit-backface-visibility: hidden;
}
#lightGallery-action.hasThumb {
	margin-left: -26px;
}

#lightGallery-action a {
	margin: 0 3px 0 0 !important; 
	position: relative;
	top: auto;
	left: auto;
	bottom: auto;
	right: auto;
	display: inline-block !important;
	display: inline-block;
	vertical-align: middle;
 	*display: inline;
 	*zoom: 1; 
	font-size: 18px;
	color: #FFF;
	cursor: pointer;
	opacity: 0.8;
}
#lightGallery-action a.disabled {
	opacity: 0.6;
	filter: alpha(opacity=60);
	cursor: default;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.65) !important;
}
#lightGallery-action a:hover, #lightGallery-action a:focus {
	opacity: 1;
}
#lightGallery-action a#lightGallery-prev:before, #lightGallery-action a#lightGallery-next:after {
	display: none;
	left: 5px;
	bottom: 3px;
	position: absolute;
}
#lightGallery-action a#lightGallery-prev:before {
	content: "\e01d";
}
#lightGallery-action a#lightGallery-next:after {
	content: "\e01b";
}
#lightGallery-action a.cLthumb:after {
	display: none;
	font-family: 'Slide-icons';
	content: "\e01c";
	left: 6px;
	bottom: 4px;
	font-size: 16px;
	position: absolute;
}
/*action*/

/*counter*/
#lightGallery_counter {
	bottom: 52px;
	text-align: center;
	width: 100%;
	position: absolute;
	z-index: 9;
	color: #FFFFFF;
}
/*lightGallery Thumb*/
#lightGallery-Gallery .thumb_cont {
	position: absolute;
	bottom: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-transition: max-height 0.4s ease-in-out;
	-moz-transition: max-height 0.4s ease-in-out;
	-o-transition: max-height 0.4s ease-in-out;
	-ms-transition: max-height 0.4s ease-in-out;
	transition: max-height 0.4s ease-in-out;
	z-index: 9;
	max-height: 0;
	opacity: 0;
}
#lightGallery-Gallery.open .thumb_cont {
	max-height: 350px;
}
#lightGallery-Gallery .thumb_cont .thumb_inner {
	display: table;
	margin: 0 auto;
	// margin-left: -12px;
	padding: 12px;
	max-height: 290px;
	overflow-y: auto;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
#lightGallery-Gallery .thumb_cont .thumb_info {
	background-color: #333;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 7px 20px;
	text-align: center;
}
#lightGallery-Gallery .thumb_cont .thumb_info .count {
	color: #ffffff;
	font-size: 12px;
}
#lightGallery-Gallery .thumb_cont .thumb_info .close {
	color: #FFFFFF;
	display: block;
	float: right !important;
	width: 28px;
	position: relative;
	height: 28px;
	border-radius: 2px;
	margin-top: -4px; 
	z-index: 1090;
	cursor: pointer;
}
#lightGallery-Gallery .thumb_cont .thumb_info .close i:after {
	left: 6px;
	position: absolute;
	top: 4px;
}
#lightGallery-Gallery .thumb_cont .thumb_info .close i:after, 
#lightGallery-close:after {
	content: "\e01a";
	font-family: 'Slide-icons';
	font-style: normal;
	font-size: 16px;
}
#lightGallery-Gallery .thumb_cont .thumb_info .close:hover {
	text-decoration: none; 
}
#lightGallery-Gallery .thumb_cont .thumb {
	display: inline-block !important;
	vertical-align: middle;
	text-align: center;
   *display: inline; 
   *zoom: 1;
	margin-bottom: 4px;
	height: 50px;
	width: 50px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	overflow: hidden;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: border-color linear .2s, opacity linear .2s;
	-moz-transition: border-color linear .2s, opacity linear .2s;
	-o-transition: border-color linear .2s, opacity linear .2s;
	-ms-transition: border-color linear .2s, opacity linear .2s;
	transition: border-color linear .2s, opacity linear .2s;
	img {
		@include vertical-align(100%);
	}
}
@media (min-width: 800px) {
#lightGallery-Gallery .thumb_cont .thumb {
	width: 94px;
	height: 94px;
}
}
#lightGallery-Gallery .thumb_cont .thumb > img {
	height: auto;
	max-width: 100%;
}
#lightGallery-Gallery .thumb_cont .thumb.active, #lightGallery-Gallery .thumb_cont .thumb:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	border-color: #ffffff;
}
/*lightGallery Thumb*/

/*lightGallery Video*/
#lightGallery-slider .video_cont {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	vertical-align: middle;
}
#lightGallery-slider .video_cont {
	background: none;
	max-width: 1140px;
	max-height: 100%;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#lightGallery-slider .video {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
}
#lightGallery-slider .video .object {
	width: 100%!important;
	height: 100%!important;
	position: absolute;
	top: 0;
	left: 0;
}
/*lightGallery Video*/
 
/*lightGallery Close*/
#lightGallery-close {
	font-size: 30px;
	color: #fff;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 1090;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}
#lightGallery-close:after {
	display: none;
	position: absolute;
	right: 6px;
	top: 3px;
}
#lightGallery-close:hover {
	text-decoration: none; 
}
.customHtml {
	background: none repeat scroll 0 0 black;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
	color: #fff;
	font-family: Arial, sans-serif;
	height: 70px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9;
}
.customHtml p {
	font-size: 14px;
}
.customHtml > h4 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 15px;
}
