// Custom Select

.custom-select {
    width: 210px;
    // background:#fff url(http://i48.tinypic.com/2u7rpec.png) right center no-repeat;
    color: $gray;
    font-weight: $semibold;
    border: 1px solid $content-border;
    padding: 7px 10px;
    @include border-radius(3px);
    @include transition(border 0.5s $ease);
    i {
    	position: absolute;
    	top: 9px;
    	right: 10px;
    	font-size: 18px;
    	pointer-events: none;
    }
    &.custom-select-hover {
    	border-color: darken($content-border, 20%);
    }
    &.custom-select-focus,
    &.custom-select-changed {
    }
}

.select-no-appearance {
	width: 210px;
	outline: none;
	margin-top: 8px;
	font-size: 13px;
	padding: 9px 10px;
	color: $gray;
    border: 1px solid $content-border;
    background: image-url('select-arrow.png') center right no-repeat;
    @include border-radius(4px);
	@include appearance(none);
	&:hover, &:focus {
    	border-color: darken($content-border, 20%);
	}
}

// Gambiarra pra esconder as duas validações do select, exibe apenas uma.
