table {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	border-collapse: collapse;
	font-size: 12px;
	color: $gray;
	@include box-sizing(border-box);
	td {
		padding: 12px 0;
		border-bottom: 2px solid #ebf0f1;
		@include transition(all 0.15s ease-in);
		&:nth-child(2) {
		}
	}
	thead {
		background: #fff;
		tr {
			td {
				font-weight: bold;
			}
		}
	}
	tbody {
		tr:nth-child(odd) td {
			background: #eee;
		}
		tr:hover td {
			// background: darken(#eee, 5%); 
		}
	}
	tfoot {
		tr {
			td {
				background: #efeff1;
				color: #fff;
			}
		}
	}
	/* Outline */
	&.outline {
		td { 
			border: 2px solid #ebf0f1;
		}
		tbody {
			tr:hover td {
				border-color: green;
			}
		}
	}
	// Plans
	&.table-plans {
		width: auto;
		margin: 20px 0 15px 10px;
		.form-error {
			margin: -40px 0 0 -140px!important;
			width: 160px!important;
			font-weight: normal;
			.form-error-content {
				padding-right: 12px!important;
				min-width: 100px!important;
			}
		}
		td {
			border: none;
			border-right: 2px solid $white;
			&.align-right {
				// font-weight: $semibold;
				color: $gray;
				padding-right: 15px;
				font-size: 12px;
			}
		} 
		thead {
			td {
				padding: 0;
				height: 115px;
				vertical-align: top;
				&.table-title {
					width: 420px;
					vertical-align: middle;
					h4 {
						font-size: 25px;
					}
				}
				&.plan {
					width: 130px;
					color: $white;
					font-size: 16px;
					.plan-title {
						display: block;
						height: 35px;
						label {
							display: inline-block;
							position: relative;
							margin: 0 auto;
							padding: 3px 0 0 0;
							color: $white!important;
							font-weight: $regular;
							i {
								// position: absolute;
								// top: 8px;
								// left: 0;
								color: #1e85cc;
								font-size: 15px;
								margin-left: -5px;
								background-color: $white;
								@include border-radius(100%);
							}
							span {
								font-size: 20px;
							}
						}
						p {
							font-size: 25px;
							padding: 12px 0 0 0;
						}
						small {
							font-size: 13px;
						}
						input {
							visibility: hidden;
						}
					}
					&.bronze,
					&.super {
						background-color: $yellow-light;
						.plan-title {
							background-color: #f0b128;
						}
					}
					&.silver,
					&.premium {
						background-color: $orange-light;
						.plan-title {
							background-color: #ed8000;
						}
					}
					&.gold,
					&.master {
						background-color: $orange;
						.plan-title {
							background-color: #d85200;
						}
					}
				}
			}
		}
		tbody {
			td {
				color: $blue;
				line-height: 13px;
			}
		}
	}
}


