// Validation

 
.form-error .form-error-content { z-index: 991; }
.form-error .form-error-icon { z-index: 996; }

.ui-dialog .form-error { z-index: 5000; }
.ui-dialog .form-error .form-error-content { z-index: 5001; }
.ui-dialog .form-error .form-error-icon { z-index: 5006; }

.form-error {
	position: absolute;
	display: block;
	text-align: left;
	z-index: 10; 
	margin: 11px  0 0 8px!important;
}

.form-error.inline {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.ajaxSubmit {
}

.form-error .form-error-content {
	width: auto;
	min-width: 180px;
	background: $error-color;
	color: $white;
	padding: 4px 25px 5px 10px;
	font-size: 11px;
	display: inline-block;
	@include border-radius(5px); 
}

.form-error.inline .form-error-content {
}

.green-popup .form-error-content {
	background: $success-color;
}

.black-popup .form-error-content {
	background: $black;
}

.form-error .form-error-icon {
	width: 100%;
}

.form-error .form-error-icon-bottom .arrow-error {
	position: absolute;
	top: -4px;
	left: 15px;
	@include arrow(10px, 4px, 'up', $red);
}
.form-error .form-error-icon-top .arrow-error {
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: -4px;
	@include arrow(4px, 10px, 'left', $red);
}

.form-error .close-error {
	position: absolute;
	top: 7px;
	right: 5px;
	cursor: pointer;
	color: darken($red, 20%); 
	@include transition(all 0.2s $ease);
	&:hover {
		color: $white;
	}
}

.error {
	margin: 0 20px 20px 0;
	overflow: hidden;
	@include border-radius(3px);
	p {
		color: $white;
		font-size: 12px;
		background-color: $red;
		padding: 6px 10px;
		/*
		&:first-of-type {
			padding-top: 10px;
			@include border-radius(3px 3px 0 0);
		}
		&:last-of-type {
			padding-bottom: 10px;
			@include border-radius(0 0 3px 3px);
		}
		*/
	}
}

