/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-flag-ac {
  background-image: url(../images/flags.png);
  background-position: -40px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ad {
  background-image: url(../images/flags.png);
  background-position: -240px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ae {
  background-image: url(../images/flags.png);
  background-position: 0px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-af {
  background-image: url(../images/flags.png);
  background-position: -40px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ag {
  background-image: url(../images/flags.png);
  background-position: -80px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-al {
  background-image: url(../images/flags.png);
  background-position: -80px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-am {
  background-image: url(../images/flags.png);
  background-position: 0px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ar {
  background-image: url(../images/flags.png);
  background-position: -40px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-as {
  background-image: url(../images/flags.png);
  background-position: -80px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-at {
  background-image: url(../images/flags.png);
  background-position: 0px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-au {
  background-image: url(../images/flags.png);
  background-position: -40px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-az {
  background-image: url(../images/flags.png);
  background-position: -80px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ba {
  background-image: url(../images/flags.png);
  background-position: -120px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bb {
  background-image: url(../images/flags.png);
  background-position: -120px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bd {
  background-image: url(../images/flags.png);
  background-position: -120px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-be {
  background-image: url(../images/flags.png);
  background-position: -120px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bf {
  background-image: url(../images/flags.png);
  background-position: 0px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bg {
  background-image: url(../images/flags.png);
  background-position: -40px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bh {
  background-image: url(../images/flags.png);
  background-position: -80px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bi {
  background-image: url(../images/flags.png);
  background-position: -120px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bj {
  background-image: url(../images/flags.png);
  background-position: -160px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bn {
  background-image: url(../images/flags.png);
  background-position: -160px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bo {
  background-image: url(../images/flags.png);
  background-position: -160px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-br {
  background-image: url(../images/flags.png);
  background-position: -160px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bs {
  background-image: url(../images/flags.png);
  background-position: -160px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bt {
  background-image: url(../images/flags.png);
  background-position: 0px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bw {
  background-image: url(../images/flags.png);
  background-position: -40px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-by {
  background-image: url(../images/flags.png);
  background-position: -80px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-bz {
  background-image: url(../images/flags.png);
  background-position: -120px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ca {
  background-image: url(../images/flags.png);
  background-position: -160px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cc {
  background-image: url(../images/flags.png);
  background-position: -200px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cd {
  background-image: url(../images/flags.png);
  background-position: -200px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cf {
  background-image: url(../images/flags.png);
  background-position: -200px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cg {
  background-image: url(../images/flags.png);
  background-position: -200px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ch {
  background-image: url(../images/flags.png);
  background-position: -200px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ci {
  background-image: url(../images/flags.png);
  background-position: -200px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cl {
  background-image: url(../images/flags.png);
  background-position: 0px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cm {
  background-image: url(../images/flags.png);
  background-position: -40px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cn {
  background-image: url(../images/flags.png);
  background-position: -80px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-co {
  background-image: url(../images/flags.png);
  background-position: -120px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cr {
  background-image: url(../images/flags.png);
  background-position: -160px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cu {
  background-image: url(../images/flags.png);
  background-position: -200px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cv {
  background-image: url(../images/flags.png);
  background-position: 0px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cy {
  background-image: url(../images/flags.png);
  background-position: -40px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-cz {
  background-image: url(../images/flags.png);
  background-position: -80px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-de {
  background-image: url(../images/flags.png);
  background-position: -120px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-dj {
  background-image: url(../images/flags.png);
  background-position: -160px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-dk {
  background-image: url(../images/flags.png);
  background-position: -200px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-dm {
  background-image: url(../images/flags.png);
  background-position: -240px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-do {
  background-image: url(../images/flags.png);
  background-position: -240px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-dz {
  background-image: url(../images/flags.png);
  background-position: -240px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ee {
  background-image: url(../images/flags.png);
  background-position: -240px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-eg {
  background-image: url(../images/flags.png);
  background-position: -240px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-er {
  background-image: url(../images/flags.png);
  background-position: -240px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-es {
  background-image: url(../images/flags.png);
  background-position: -240px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-et {
  background-image: url(../images/flags.png);
  background-position: -240px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-fi {
  background-image: url(../images/flags.png);
  background-position: 0px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-fj {
  background-image: url(../images/flags.png);
  background-position: -40px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-fm {
  background-image: url(../images/flags.png);
  background-position: -80px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-fr {
  background-image: url(../images/flags.png);
  background-position: -120px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ga {
  background-image: url(../images/flags.png);
  background-position: -160px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gb {
  background-image: url(../images/flags.png);
  background-position: -200px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gd {
  background-image: url(../images/flags.png);
  background-position: -240px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ge {
  background-image: url(../images/flags.png);
  background-position: -280px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gh {
  background-image: url(../images/flags.png);
  background-position: -280px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gm {
  background-image: url(../images/flags.png);
  background-position: -280px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gn {
  background-image: url(../images/flags.png);
  background-position: -280px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gq {
  background-image: url(../images/flags.png);
  background-position: -280px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gr {
  background-image: url(../images/flags.png);
  background-position: -280px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gt {
  background-image: url(../images/flags.png);
  background-position: -280px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gw {
  background-image: url(../images/flags.png);
  background-position: -280px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-gy {
  background-image: url(../images/flags.png);
  background-position: -280px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-hn {
  background-image: url(../images/flags.png);
  background-position: 0px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-hr {
  background-image: url(../images/flags.png);
  background-position: -40px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ht {
  background-image: url(../images/flags.png);
  background-position: -80px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-hu {
  background-image: url(../images/flags.png);
  background-position: -120px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-id {
  background-image: url(../images/flags.png);
  background-position: -160px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ie {
  background-image: url(../images/flags.png);
  background-position: -200px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-il {
  background-image: url(../images/flags.png);
  background-position: -240px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-in {
  background-image: url(../images/flags.png);
  background-position: -280px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-iq {
  background-image: url(../images/flags.png);
  background-position: -320px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ir {
  background-image: url(../images/flags.png);
  background-position: -320px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-is {
  background-image: url(../images/flags.png);
  background-position: -320px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-it {
  background-image: url(../images/flags.png);
  background-position: -320px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-jm {
  background-image: url(../images/flags.png);
  background-position: -320px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-jo {
  background-image: url(../images/flags.png);
  background-position: -320px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-jp {
  background-image: url(../images/flags.png);
  background-position: -320px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ke {
  background-image: url(../images/flags.png);
  background-position: -320px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-kg {
  background-image: url(../images/flags.png);
  background-position: -320px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-kh {
  background-image: url(../images/flags.png);
  background-position: -320px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ki {
  background-image: url(../images/flags.png);
  background-position: 0px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-kn {
  background-image: url(../images/flags.png);
  background-position: -40px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-kp {
  background-image: url(../images/flags.png);
  background-position: -80px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-kr {
  background-image: url(../images/flags.png);
  background-position: -120px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ks {
  background-image: url(../images/flags.png);
  background-position: -160px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-kw {
  background-image: url(../images/flags.png);
  background-position: -200px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-kz {
  background-image: url(../images/flags.png);
  background-position: 0px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-la {
  background-image: url(../images/flags.png);
  background-position: -280px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-lb {
  background-image: url(../images/flags.png);
  background-position: -320px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-lc {
  background-image: url(../images/flags.png);
  background-position: 0px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-li {
  background-image: url(../images/flags.png);
  background-position: -40px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-lk {
  background-image: url(../images/flags.png);
  background-position: -80px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-lr {
  background-image: url(../images/flags.png);
  background-position: -120px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ls {
  background-image: url(../images/flags.png);
  background-position: -160px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-lt {
  background-image: url(../images/flags.png);
  background-position: -200px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-lu {
  background-image: url(../images/flags.png);
  background-position: -240px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-lv {
  background-image: url(../images/flags.png);
  background-position: -280px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ly {
  background-image: url(../images/flags.png);
  background-position: -320px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ma {
  background-image: url(../images/flags.png);
  background-position: -360px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mc {
  background-image: url(../images/flags.png);
  background-position: -360px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-md {
  background-image: url(../images/flags.png);
  background-position: -360px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-me {
  background-image: url(../images/flags.png);
  background-position: -360px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mf {
  background-image: url(../images/flags.png);
  background-position: -360px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mg {
  background-image: url(../images/flags.png);
  background-position: -360px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mh {
  background-image: url(../images/flags.png);
  background-position: -360px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mk {
  background-image: url(../images/flags.png);
  background-position: -360px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ml {
  background-image: url(../images/flags.png);
  background-position: -360px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mm {
  background-image: url(../images/flags.png);
  background-position: -360px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mn {
  background-image: url(../images/flags.png);
  background-position: -360px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mr {
  background-image: url(../images/flags.png);
  background-position: -360px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mt {
  background-image: url(../images/flags.png);
  background-position: 0px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mu {
  background-image: url(../images/flags.png);
  background-position: -40px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mv {
  background-image: url(../images/flags.png);
  background-position: -80px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mw {
  background-image: url(../images/flags.png);
  background-position: -120px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mx {
  background-image: url(../images/flags.png);
  background-position: -160px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-my {
  background-image: url(../images/flags.png);
  background-position: -200px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-mz {
  background-image: url(../images/flags.png);
  background-position: -240px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-na {
  background-image: url(../images/flags.png);
  background-position: -280px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ne {
  background-image: url(../images/flags.png);
  background-position: -320px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ng {
  background-image: url(../images/flags.png);
  background-position: -360px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ni {
  background-image: url(../images/flags.png);
  background-position: -400px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-nl {
  background-image: url(../images/flags.png);
  background-position: -400px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-no {
  background-image: url(../images/flags.png);
  background-position: -400px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-np {
  background-image: url(../images/flags.png);
  background-position: -400px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-nr {
  background-image: url(../images/flags.png);
  background-position: -400px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-nz {
  background-image: url(../images/flags.png);
  background-position: -400px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-om {
  background-image: url(../images/flags.png);
  background-position: -400px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-pa {
  background-image: url(../images/flags.png);
  background-position: -400px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-pe {
  background-image: url(../images/flags.png);
  background-position: -400px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-pg {
  background-image: url(../images/flags.png);
  background-position: -400px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ph {
  background-image: url(../images/flags.png);
  background-position: -400px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-pk {
  background-image: url(../images/flags.png);
  background-position: -400px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-pl {
  background-image: url(../images/flags.png);
  background-position: -400px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-pt {
  background-image: url(../images/flags.png);
  background-position: 0px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-pw {
  background-image: url(../images/flags.png);
  background-position: -40px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-py {
  background-image: url(../images/flags.png);
  background-position: -80px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-qa {
  background-image: url(../images/flags.png);
  background-position: -120px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ro {
  background-image: url(../images/flags.png);
  background-position: -160px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-rs {
  background-image: url(../images/flags.png);
  background-position: -200px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ru {
  background-image: url(../images/flags.png);
  background-position: -240px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-rw {
  background-image: url(../images/flags.png);
  background-position: -280px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sa {
  background-image: url(../images/flags.png);
  background-position: -320px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sb {
  background-image: url(../images/flags.png);
  background-position: -360px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sd {
  background-image: url(../images/flags.png);
  background-position: -400px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-se {
  background-image: url(../images/flags.png);
  background-position: -440px 0px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sg {
  background-image: url(../images/flags.png);
  background-position: -440px -30px;
  width: 30px;
  height: 20px;
}
.sprite-flag-si {
  background-image: url(../images/flags.png);
  background-position: -440px -60px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sk {
  background-image: url(../images/flags.png);
  background-position: -440px -90px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sl {
  background-image: url(../images/flags.png);
  background-position: -440px -120px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sn {
  background-image: url(../images/flags.png);
  background-position: -440px -150px;
  width: 30px;
  height: 20px;
}
.sprite-flag-so {
  background-image: url(../images/flags.png);
  background-position: -440px -180px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sr {
  background-image: url(../images/flags.png);
  background-position: -440px -210px;
  width: 30px;
  height: 20px;
}
.sprite-flag-st {
  background-image: url(../images/flags.png);
  background-position: -440px -240px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sv {
  background-image: url(../images/flags.png);
  background-position: -440px -270px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sy {
  background-image: url(../images/flags.png);
  background-position: -440px -300px;
  width: 30px;
  height: 20px;
}
.sprite-flag-sz {
  background-image: url(../images/flags.png);
  background-position: -440px -330px;
  width: 30px;
  height: 20px;
}
.sprite-flag-td {
  background-image: url(../images/flags.png);
  background-position: -440px -360px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tg {
  background-image: url(../images/flags.png);
  background-position: -440px -390px;
  width: 30px;
  height: 20px;
}
.sprite-flag-th {
  background-image: url(../images/flags.png);
  background-position: 0px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tj {
  background-image: url(../images/flags.png);
  background-position: -40px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tm {
  background-image: url(../images/flags.png);
  background-position: -80px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tn {
  background-image: url(../images/flags.png);
  background-position: -120px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-to {
  background-image: url(../images/flags.png);
  background-position: -160px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tp {
  background-image: url(../images/flags.png);
  background-position: -200px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tr {
  background-image: url(../images/flags.png);
  background-position: -240px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tt {
  background-image: url(../images/flags.png);
  background-position: -280px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tv {
  background-image: url(../images/flags.png);
  background-position: -320px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tw {
  background-image: url(../images/flags.png);
  background-position: -360px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-tz {
  background-image: url(../images/flags.png);
  background-position: -400px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ua {
  background-image: url(../images/flags.png);
  background-position: -440px -420px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ug {
  background-image: url(../images/flags.png);
  background-position: 0px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-us {
  background-image: url(../images/flags.png);
  background-position: -40px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-uy {
  background-image: url(../images/flags.png);
  background-position: -80px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-uz {
  background-image: url(../images/flags.png);
  background-position: -120px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-va {
  background-image: url(../images/flags.png);
  background-position: -160px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-vc {
  background-image: url(../images/flags.png);
  background-position: -200px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ve {
  background-image: url(../images/flags.png);
  background-position: -240px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-vn {
  background-image: url(../images/flags.png);
  background-position: -280px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-vu {
  background-image: url(../images/flags.png);
  background-position: -320px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-ye {
  background-image: url(../images/flags.png);
  background-position: -360px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-za {
  background-image: url(../images/flags.png);
  background-position: -400px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-zm {
  background-image: url(../images/flags.png);
  background-position: -440px -450px;
  width: 30px;
  height: 20px;
}
.sprite-flag-zw {
  background-image: url(../images/flags.png);
  background-position: -480px 0px;
  width: 30px;
  height: 20px;
}
