/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-badge-bronze-big {
  background-image: url(../images/sprite.png);
  background-position: -500px -100px;
  width: 32px;
  height: 32px;
}
.sprite-badge-bronze {
  background-image: url(../images/sprite.png);
  background-position: -50px -180px;
  width: 20px;
  height: 20px;
}
.sprite-badge-gold-big {
  background-image: url(../images/sprite.png);
  background-position: -542px -100px;
  width: 32px;
  height: 32px;
}
.sprite-badge-gold {
  background-image: url(../images/sprite.png);
  background-position: -80px -180px;
  width: 20px;
  height: 20px;
}
.sprite-badge-silver-big {
  background-image: url(../images/sprite.png);
  background-position: -584px -100px;
  width: 32px;
  height: 32px;
}
.sprite-badge-silver {
  background-image: url(../images/sprite.png);
  background-position: -110px -180px;
  width: 20px;
  height: 20px;
}
.sprite-logo-white {
  background-image: url(../images/sprite.png);
  background-position: -310px 0px;
  width: 315px;
  height: 75px;
}
.sprite-logo {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 300px;
  height: 90px;
}
.sprite-pagseguro {
  background-image: url(../images/sprite.png);
  background-position: 0px -100px;
  width: 360px;
  height: 70px;
}
.sprite-paypal {
  background-image: url(../images/sprite.png);
  background-position: -370px -100px;
  width: 120px;
  height: 50px;
}
.sprite-phone {
  background-image: url(../images/sprite.png);
  background-position: 0px -180px;
  width: 40px;
  height: 30px;
}
