// Breadcrumbs
@import "compass";

.breadcrumb {
	height: 30px;
	padding: 6px 0 0 5px;
	li {
		display: inline-block;
		margin-right: 5px;
		color: $red;
		a {
			color: $gray;
			font-size: 12px;
			display: block;
			&:after {
				content: "/";
				padding-left: 5px;
			}
			&:hover {
				color: $black;
			}
		}
	}
}
 
// Content
.content { 
	width: 850px;
	float: right;

	.primary-banner {
		width: 640px;
		height: 480px;
		float: left;
		overflow: hidden;
		border: 1px solid $content-border;
		@include border-radius(2px);
		&.primary-banner-small {
			// height: 365px;
			height: 300px;
		}
		.owl-pagination {
			position: absolute;
			top: 7px;
			right: 10px;
			.owl-page {
				display: inline-block;
				cursor: pointer;
				width: 17px;
				height: 17px;
				margin-left: 5px;
				background-color: $white;
				border: 1px solid #fff;
				&:hover {
					border-color: #e1a765;
				}
				&.active {
					border-color: #e1a765;
					background-color: #e1a765;
				}
			}
		}
	}

	.artist-contact {
		.column-half {
			margin-bottom: 15px;
		}
		textarea {
			width: 96%;
		}
		.button {
			float: right;
			margin-right: 30px;
		}
	}

	.artist-biography {
		padding: 15px 0;
		font-size: 14px;
		color: $gray;
		margin-bottom: 50px;
		img {
			width: 250px;
			float: left;
			margin: 0 15px 10px 0;
		}
		p {
			line-height: 23px;
		}
		ul {
			display: block;
			margin-bottom: 20px;
			li {
				padding: 1px 0;
				font-weight: $light;
				position: relative;
				.flag {
					display: inline-block;
					text-indent: -9999px;
					@include transform(scale(0.8));
				}
				.name {
					display: inline-block;
					position: relative;
				}
				.badge {
					// margin: -3px 0 0 10px;
					display: inline-block;
					position: absolute;
					top: 0;
					right: -25px;
				}
				a {
					color: $red;
					position: relative;
					i {
						position: absolute;
						top: 3px;
						right: -18px;
						font-size: 16px;
					}
					&:hover {
						color: $gray;
					}
				}
				strong {
					text-transform: uppercase;
					font-weight: $semibold;
				}
			}
		}
	}

	.resume {
		position: relative;
		.winner {
			display: none;
			position: absolute;
			top: 5px;
			left: 0;
			text-transform: uppercase;
			color: $white;
			font-size: 12px;
			padding: 3px 18px;
			background-color: rgba(0, 0, 0, 0.75);
		}
		.name {
			position: absolute;
			top: 25px;
			left: 0;
			color: $white;
			font-size: 28px;
			// font-weight: $semibold;
			padding: 0 30px 0 15px;
			@include text-shadow(0 0 10px rgba(229, 78, 83, 1));
			.badge {
				display: block;
				position: absolute;
				top: 4px;
				right: -10px;
			}
		}
		img {
			max-width: 100%;
			border: 1px solid $black;
		}
	}
	.artist-about {
		padding: 10px 10px 0 10px;
		.thumbnail {
			float: left;
			img {
				border: 1px solid $black;
			}
		}
		.description {
			width: 435px;
			height: 180px;
			padding-left: 10px;
			float: left;
			position: relative;
			.flag {
				display: inline-block!important;
				margin-right: 4px;
			}
			p {
				font-size: 14px;
				color: $black;
				padding-top: 15px;
				line-height: 19px;
				&.city {
					padding-top: 0;
					font-size: 13px;
				}
				a {
					display: inline-block;
					float: none;
					position: relative;
					padding-left: 16px;
					color: $red;
					margin-top: 5px;
					i {
						position: absolute;
						top: 4px;
						left: 0;
						font-size: 13px;
					}
					&:hover {
						color: $black;
					}
				}
			}
		}
		.actions {
			position: absolute;
			bottom: 0;
			left: 14px;
			li {
				display: inline-block;
				margin-right: 35px;
				a {
					font-weight: $semibold;
					color: $black;
					font-size: 13px;
					position: relative;
					i {
						font-size: 22px;
						color: $red;
						position: absolute;
						top: -1px;
						right: -25px;
						&.icon-heart,
						&.icon-heart-line {
							font-size: 18px;
							right: -22px;
						}
					}
					&:hover {
						color: $red;
					}
				}
				&.last {
					margin-right: 0;
				}
				&.first {
					i {
						font-size: 20px!important;
					}
				}
			}
		}
	}
} 

.right-column {
	float: right;
	width: 200px;
	border: 1px solid $content-border;
	.box {
		h2 {
			text-align: left;
			padding-left: 15px;
		}
		.box-content {
			padding-top: 2px;
			img {
				max-width: 100%;
				margin-top: 8px;
			}
		}
	}
}

.social {
	display: table;
	margin: 7px auto;
	padding-left: 3px;
	text-align: center;
	li {
		float: left;
		margin-right: 3px;
		a {
			display: block;
			position: relative;
			width: 32px;
			height: 34px;
			&.rss {
				background-color: $rss;
				&:hover {
					background-color: darken($rss, 20%);
				}
			}
			&.google-plus {
				background-color: $google-plus;
				&:hover {
					background-color: lighten($google-plus, 20%);
				}
			}
			&.facebook {
				background-color: $facebook;
				&:hover {
					background-color: darken($facebook, 20%);
				}
			}
			&.twitter {
				background-color: $twitter;
				&:hover {
					background-color: darken($twitter, 20%);
				}
			}
			&.youtube {
				background-color: $youtube;
				&:hover {
					background-color: darken($youtube, 20%);
				}
			}
			i {
				color: $white;
				font-size: 21px;
				position: absolute;
				top: 6px;
				left: 6px;
			}
			span {
				display: none;
			}
		}
	}
}

.not-found {
	display: block;
	clear: both;
	p {
		font-size: 14px;

	}
}

.main {
	display: block;
	clear: both;
	margin-top: 10px;
	&.border-top {
		border-top: 1px solid $content-border;
		padding-top: 10px;
		.title {
			margin-top: 10px!important;
		}
		.filter-order {
			margin-top: 5px;
		}
	}
	.border-right {
		border-right: 1px solid $content-border;
		padding-bottom: 20px;
		&.small-padding {
			padding-bottom: 5px;
		}
	}
	.border-left {
		border-left: 1px solid $content-border;
	}
	.border {
		border: 1px solid $content-border;
	}
	.title {
		display: inline-block;
		color: $gray;
		// font-size: 16px;
		font-size: 19px;
		padding-left: 5px;
		border-left: 4px solid $black; 
		&.page-title {
			font-size: 20px;
			line-height: 18px;
		}
		&.margin-bottom {
			margin-bottom: 15px!important;
		}
	}
	.filter-order {
		position: relative;
		float: right;
		margin-right: 2px;
		margin-top: -7px;
		label {
			padding-right: 5px;
			color: $black;
			font-weight: $semibold;
		}
		select {
	    	cursor: pointer;
	    }
	    .loading-filter {
	    	display: none;
	    	position: absolute;
	    	top: -24px;
	    	right: 0;
	    	font-size: 20px;
	    	&.small-loading {
	    		top: -10px;
	    		font-size: 15px;
	    	}
	    }
	}

	.bordered-content {
		display: block;
		padding: 10px;
		border: 1px solid $content-border;
		margin-bottom: 15px;
	}

	.message {
		margin-top: 15px;
		border: 1px solid $content-border;
		padding: 90px 20px;
		text-align: center;
		h4 {
			font-weight: $regular;
			color: $gray;
			font-size: 25px;
			margin: 25px 0;
		}
		p {
			font-size: 16px;
			line-height: 25px;
			margin-bottom: 18px;
			color: $gray;
			strong {
				color: darken($gray, 7%);
				font-size: 19px;
				font-weight: $regular;
			}
			a {
				color: $red;
				&:hover {
					color: darken($red, 15%);
				}
			}
		}
	}
	&.plans {
		h3 {
			margin-bottom: 15px;
		}
	}
}

.favorites, 
.search-result {
	.list {
		// padding-left: 25px;
		.title {
			display: block!important;
			clear: both;
			margin-bottom: 10px;
		}
		.art {
			margin-right: 24px;
			&:nth-of-type(6n) {
				margin-right: 0!important;
			}
		}
	}
}

.no-post {
	padding: 50px 0;
	text-align: center;
	font-size: 18px;
	color: $gray;
	h3 {
		font-weight: $light;
		text-transform: uppercase;
	}
	p {
		font-size: 15px;
	}
}

.forms {
	display: block;
	margin: 20px 0;
	padding: 15px 25px 15px 25px;
}
.forms,
.form-itens {

	.loading-form {
		display: none;
		position: absolute;
		top: 6px;
		right: 30px;
		font-size: 19px;
	}

	.loading-register {
		// display: inline-block;
		display: none;
		font-size: 20px;
		padding: 0 0 0 10px!important;
	}

	.form-error {
		margin-top: 15px!important;
	}
	
	.column-half {
		// margin-bottom: 15px;
	}

	&.step-1 {
		.input, .select {
			width: 210px!important;
		}
	}

	.select-adjust {
		position: relative;
		display: inline-block;
	}

	legend {
		margin-bottom: 25px;
		font-size: 16px;
		font-weight: $semibold;
		color: $black;
	}

	label, input, select, textarea {
		display: block;
	}

	label, .label {
		display: block;
		clear: both;
		color: $gray;
		font-size: 14px;
		// font-weight: $semibold;
		margin-top: 20px;
		&.no-margin {
			margin-top: 0;
		}
	}
	label:first-of-type {
		margin-top: 0;
	}

	.input, .select {
		color: $gray;
		font-size: 12px;
		font-weight: $regular;
		width: 370px;
		margin: 8px 0 0 0;
		&.small {
			width: 210px;
		}
	}

	.radios {
		display: block;
		width: 100%;
		padding-top: 5px;
		&.payment-radios {
			padding: 15px 0 10px 0!important;
		}
		input {
			display: inline-block;
			visibility: hidden;
		}
		label {
			display: inline-block;
			margin: 0 15px 0 0;
			padding-left: 8px;
			position: relative;
			&.none {
				display: none!important;
			}
			i {
				position: absolute;
				top: 1px;
				left: -13px;
				font-size: 16px;
			}
			&[for="pagseguro"]{
				i {
					top: 33px; 
				}
			}
			&[for="paypal"]{
				i {
					top: 18px; 
				}
			}
		}
		.form-error {
			margin: 2px 0 8px -2px!important;
			position: relative!important;
			top: auto!important;
			left: auto!important;
			.form-error-content {
				width: auto!important;
				min-width: 50px!important;
				padding-right: 15px!important;
			}
		}
	}

	.button {
		margin-top: 30px;
		padding: 0 35px;
		&.continue {
			margin-top: 15px;
		}
	}

	.form-helper {
		.sprite-logo {
			@include transform(scale(0.9) translateX(-17px));
		}
		padding-left: 30px;
		padding-right: 15px;
		line-height: 20px;
		p {
			color: lighten($gray, 10%);
			font-size: 13px;
			margin-bottom: 20px;
		}
	}

	.cupon-code {
		margin-top: -10px;
		margin-bottom: 10px;
		display: block;
		input {
			display: inline-block;
			margin: 0 10px 0 0!important;
		}
	}

	.total {
		text-align: center; 
		line-height: 32px;
		padding-top: 55px;
		padding-left: 15px;
		display: none;
		h4 {
			color: $red;
			font-size: 25px;
		}
		p, span {
			color: lighten($gray, 10%);
		}
		p {
			padding-top: 6px;
			font-size: 25px;
			small {
				font-size: 15px;
				display: block;
				line-height: 21px;
			}
		}
		span {
			font-size: 12px;
			text-decoration: underline;
		}
	}

	.payment {
		.radios {
			padding-top: 25px;
		}
		.radio-option {
			display: block;
			float: none;
			height: auto;
			min-height: 60px;
			i {
				// @include vertical-align(50%);
				top: 50%;
				margin-top: -5px;
			}
			span {
				display: inline-block!important;
			}
		}
	}

	.contract {
		.contract-text {
			display: block;
			margin: 10px;
			height: 380px;
			overflow: hidden;
			overflow-y: scroll;
			padding: 10px;
			p {
				font-size: 14px;
				margin-bottom: 20px;
			}
			.red {
				color: red;
			}
			.uppercase {
				text-transform: uppercase;
			}
		}
		.contract-option {
			display: block;
			clear: both;
			padding: 15px;
			.print {
				float: left;
				color: $red;
				padding-left: 30px;
				font-size: 16px;
				position: relative;
				i {
					position: absolute;
					top: 0;
					left: 0;
					font-size: 22px;
				}
				&:hover {
					color: $black;
				}
			}
		}
		.accept-contract {
			width: 433px; 
			float: right;
			margin-top: -22px;
			.label, .radios {
				width: auto;
				display: inline-block!important;
			}
			.radios {
				padding-left: 15px;
			}
		}
	}

}

.big-icon {
	display: block;
	margin: 0 auto 35px auto;
	width: 90px;
	height: 90px;
	padding-top: 15px;
	text-align: center;
	background-color: $red;
	@include border-radius(100%);
	&.gray-icon {
		background-color: lighten($gray, 42%);
	}
	i {
		color: $white;
		font-size: 55px;
		// margin-top: -20px;
		// @include vertical-align(50%); 
	}
}

.login-page {
	.title {
		display: block;
	}
	.column-half  {
		// text-align: center;
		padding: 70px 0;
		&.small-padding {
			padding: 40px 0 0 0;
		}
		.button {
			clear: both;
			padding: 0 45px!important;
			text-transform: uppercase;
		}
	}
	.login-title {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: $light;
		margin-bottom: 40px;
		&.no-margin {
			margin-bottom: 10px;
		}
	}
	.login-form {
		display: block;
		width: 300px;
		margin: 0 auto;
		label {
			display: block;
			margin-top: 10px;
			margin-bottom: 5px;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: $semibold;
		}
		.button {
			float: right;
			margin-top: 15px;
		}
		.input {
			width: 100%;
			padding: 13px 10px!important;
			height: auto;
			font-weight: $base-font-family;
		}
		.form-error-content {
			min-width: 195px;
		}
		.keep {
			display: block;
			clear: both;
			* {
				display: inline-block;
			}
			label {
				font-size: 13px;
			}
			a {
				float: right;
				color: $red;
				font-size: 14px;
				margin-top: 10px;
				text-transform: lowercase;
				font-weight: $semibold;
			}
		}
	}
	.register-step {
		// padding-top: 50px;
		width: 400px;
		display: block;
		margin: 0 auto;
		text-align: center;
		.big-icon {
			margin-bottom: 85px;
			background-color: lighten($gray, 42%);
		}
		.button {
			margin-top: 72px;
			height: auto;
			border: none;
			padding: 10px 45px!important;
			background-color: lighten($gray, 42%);
			&:hover {
				background-color: lighten($gray, 32%);
			}
		}
	}
	&.lost-pass {
		.column-half {
			margin: 0 auto;
			display: block;
			float: none;
		}
		.login-form {
			width: 400px;
		}
	}
}

.white-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 100;
	// border: 1px solid red;
	.lost-pass {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -150px 0 0 -160px;
		.form-error {
			margin: 2px 0 0 55px!important;
		}
		.button {
			padding: 0 45px!important;
			text-transform: uppercase;
		}
		.icon-close-big {
			font-size: 30px;
			color: $red;
			position: absolute;
			top: -120px;
			right: 0;
		}
	}
}

.list {
	display: block;
	clear: both;
	padding-top: 10px;
	
	.badge {
		position: absolute;
		top: 10px;
		right: 0;
	}	
	

	// Obras
	.art {
		display: block;
		float: left; 
		width: 160px;
		height: 320px;
		// min-height: 320px;
		margin: 0 12px 30px 0;  
		text-align: center;
		&.no-margin {
			margin-right: 0!important;
		}
		.thumbnail {
			width: 160px;
			height: 160px;
			text-align: center;
			// white-space: nowrap;
			// border: 1px solid $content-border;
			@include transition(all 0.3s $ease);
			img {
				margin: 0 auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			    @include vertical-align(100%);
			}
		} 
		.artist,
		.description,
		.price,
		.art-title {
			display: inline-block;
			position: relative;
			font-size: 14px;
			font-weight: $semibold;
			text-transform: capitalize;
		} 
		.art-title {
			display: block;
			padding-top: 10px;
			color: $gray;
			font-size: 17px;
			text-transform: capitalize;
			@include transition(all 0.3s $ease);
		}
		.artist {
			color: $blue;
			padding: 10px 22px 2px 0;
			max-width: 165px;
			@include ellipsis(165px);
			@include transition(all 0.3s $ease);
		} 
		.description {
			font-size: 13.5px;
			color: $gray;
			padding: 0 5px;
			line-height: 18px;
			// height: 55px;
			@include transition(all 0.3s $ease);
		}
		.price {
			display: block;
			margin: 0 auto;
			padding-top: 5px;
			// @include ellipsis(160px);
			.value {
				color: $gray;
				padding: 0 5px;
				font-size: 13.5px;
				text-decoration: line-through;
				@include transition(all 0.3s $ease);
			}
			.descount {
				padding-top: 3px;
				font-size: 19px;
				color: $blue;
				@include transition(all 0.3s $ease);
			}
			.soldout {
				color: $red;
				font-size: 14px;
				padding: 5px 0;
				text-transform: uppercase;
			}
			.consult {
				color: #0083CA;
				font-size: 14px;
				padding: 5px 0;
				text-transform: uppercase;
			}
		}
		a {
			text-decoration: none;
			&:hover {
				.thumbnail {
					border-color: darken($content-border, 10%);
				}
				.art-title,
				.artist,
				.descount {
					color: $red;
				}
				.description,
				.value {
					color: darken($gray, 15%);
				}
			}
		}
	}
	.art-work {
		width: 275px;
		min-height: 380px;
		margin: 0 10px 30px 0!important;
		&:nth-of-type(3),
		&.last {
			margin-right: 0!important;
		}
		.thumbnail {
			width: 275px;
			height: 275px;
		}
		.descount {
			font-size: 22px!important;
		}
		.soldout {
			font-size: 17px!important;
		}
	}

	// Parceiros
	.partner {
		display: block;
		height: 135px; 
		margin-bottom: 23px;
		border-bottom: 1px solid $content-border;
		&:first-of-type {
			margin-top: 10px;
		}
		&:last-of-type {
			border-bottom: 0;
		}
		.thumbnail {
			width: 110px;
			float: left;
			text-align: center;
			padding-top: 2px;
			img {
				border: 1px solid $black;
				width: 110px;
				height: 110px;
				max-width: 100%;
			}
			.category {
				font-size: 11px;
				color: $gray;
				font-weight: $semibold;
				line-height: 13px;
				@include ellipsis(110px);  

				
			}
		}
		.description {
			width: 280px;
			float: left;
			line-height: 23px;
			padding-left: 12px;
			.name { 
				position: relative;
				display: inline;
				@include ellipsis(215px);
				.badge {
					top: 4px!important;
					right: -5px!important;
				}
			}
			.name,
			.name a {
				font-size: 18px!important;
				color: $blue;
				font-weight: $semibold;
			}
			.name a {
				position: relative;
				padding-right: 20px;
				.badge {
					top: 3px;
				}
			}
			p {
				position: relative;
				color: $black;
				font-size: 16px;
				&.city {
					padding-left: 35px;
				}
				.flag {
					display: block;
					text-indent: -9999px;
					position: absolute;
					top: 1px;
					left: -1px;
					@include transform(scale(0.9));
				}
			}
			a {
				color: $blue;
				font-size: 16px;
				&:hover {
					color: $red;
				}
			}
		}
		.thumbs {
			width: 460px;
			text-align: right;
			float: right;
			.item {
				color: $gray;
				width: 110px;
				height: 110px;
				line-height: 115px;
				// margin-left: 5px;
				// display: block;
				// float: left;
				margin-left: 2px;
				display: inline-block;
				float: none;
				text-align: center;
				border: 1px solid $content-border;
				text-align: center;
				overflow: hidden;
			    @include transition(all 0.2s $ease);
				a {
					display: block;
					margin: 0; 
					padding: 0;
			    	@include vertical-align(50%);
				}
			    img {
			    	max-width: 100%;
			    	max-height: 100%;
			    	display: block;
			    	margin: 0 auto;
					padding: 0;
			    }
			    .owl-item {
			    	margin-left: 0!important;
			    }
			    &:hover {
			    	// border-color: $red;
			    	border-color: darken($content-border, 10%);
			    	// @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));
			    	img {
			    		/*
			    		-webkit-filter: grayscale(100%);
						-moz-filter: grayscale(100%);
						-ms-filter: grayscale(100%);
						-o-filter: grayscale(100%);
						filter: grayscale(100%);
						*/
			    	}
			    }
			}
			.owl-buttons {
				display: block;
				padding: 5px 0 0 6px;
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				height: 1px;
				div {
					margin-top: 40px;
					cursor: pointer;
					font-size: 20px;
					color: lighten($gray, 40%);
					i {
						@include transition(all 0.2s $ease);
					}
					&:hover {
						color: $blue;
					}
				}
				.owl-prev {
					float: left;
					margin-left: -25px;
				}
				.owl-next {
					float: right;
					margin-right: -25px;
				}
			}
		}

		// Artist
		&.artist {
			.description {
				padding-top: 5px;
				width: 230px;
				.city {
					margin: 4px 0;
				}
			}
			.thumbs {
				width: 510px;
				.view-more {
					float: right;
					width: 45px;
					line-height: normal!important;
					margin-left: 5px;
					@include transition(all 0.2s $ease);
					a {
						color: $black;
						font-size: 16px;
						display: block;
						padding: 35px 0 25px 0;
						line-height: 15px;
						@include transition(all 0.2s $ease);
						i {
							font-size: 30px;
							font-weight: bold;
							color: $red;
							@include transition(all 0.2s $ease);
							span {
								display: none;
							}
						}
					}
					&:hover {
						background-color: $red;
						border-color: darken($red, 10%);
						a, i {
							color: $white;
						}
					}
				}
			}
			.actions {
				li {
					float: none;
					margin-bottom: 2px;
					a {
						display: inline-block;
						position: relative; 
						color: $black;
						font-size: 14px;
						i {
							position: absolute;
							top: 1px;
							right: -25px;
							font-size: 22px;
							color: $red;
							&.icon-heart,
							&.icon-heart-line {
								font-size: 18px;
								right: -22px;
								top: 2px;
							}
						}
						&:hover {
							color: $red;
						}
						&.favorite {
							color: $red;
							@include transition(all 0.2s $ease);
							i {
								// color: #48ca32;
								span {
									display: block;
									position: absolute;
									top: -3px;
									right: -185px;
									background-color: $black;
									background-color: rgba(0, 0, 0, 0.8);
									color: $white;
									font-size: 13px;
									padding: 4px 10px 6px 10px;
									width: 170px;
									z-index: 100;
									@include opacity(0);
									@include border-radius(2px);
									@include transform(translateX(20px));
									@include transition(all 0.2s $ease);
									&:after {
										content: "";
										position: absolute;
										top: 6px;
										left: -5px;
										@include arrow(5px, 10px, 'left', rgba(0, 0, 0, 0.8));
									}
								}
							}
							&:hover {
								i {
									span {
										display: block;
										@include opacity(1);
										@include transform(translateX(0));
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
// Works Detail
.work {
	.bordered-content {
		padding: 0;
	}
	.small-box {
		height: 50px;
		margin-bottom: 10px;
	}

	.work-title {
		display: block;
		clear: both;
		position: relative;
		color: $gray;
		// font-weight: $semibold;
		font-size: 25px;
		padding: 8px 0 0 35px;
		margin-left: 10px;
		@include ellipsis(540px);
		i {
			position: absolute;
			top: 13px;
			left: 0;
			font-size: 25px;
			color: $red;
		}
	}

	.work-info {
		width: 640px;
		float: left;

		.work-image {
			// width: 100%;
			width: 639px;
			height: 480px;
			position: relative;
			ul {
				li {
					display: none;
					width: 639px;
					height: 480px;
					position: relative; 
					a {
					}
					img {
						width: auto!important;
						height: auto!important;
						max-width: 100%;
						max-height: 100%;
						@include vertical-align(100%);
					}
				}
			}
		}

		.work-thumbs {
			display: block;
			margin-top: 10px;
			height: 150px;
			li {
				display: block;
				float: left;
				margin-right: 13px;
				@include transition(all 0.2s $ease);
				&:nth-of-type(4n) {
					margin-right: 0!important;
				}
				a {
					display: block;
					width: 150px;
					height: 150px;
					border: 1px solid $content-border;
					display: block;
					float: left;
					@include opacity(0.85); 
					@include transition(all 0.2s $ease);
				    &:hover { 
						@include opacity(1); 
				    	border-color: darken($content-border, 15%);
				    }
				    &.current {
				    	border-color: $red;
				    }
				}
			    img {
			    	max-width: 100%;
			    	max-height: 100%;
			    	width: 100%;
			    	display: block;
			    	margin: 0 auto;
					padding: 0;
			    	@include vertical-align(100%);
			    }
			    &.placeholder {
			    	width: 150px;
			    	height: 150px;
			    	border: 1px solid $content-border;
			    }
			}
		}

		.work-details {
			display: block;
			clear: both;
			margin: 15px 0 30px 0;
			padding: 10px;
			min-height: 260px;
			dl {
				margin-top: 15px;
				padding-left: 10px;
				font-size: 14px;
				color: $gray;
				span {
					display: block;
					margin-bottom: 5px;
				}
				dt, dd {
					display: inline-block;
				}
				dt {
					font-weight: $semibold;
				}
				a {
					color: $red;
					position: relative;
					.badge {
						position: absolute;
						top: 0;
						right: -25px;
					}
					&:hover {
						color: darken($red, 15%);
					}
				}
			}
			.extra-info {
				font-size: 14px;
				color: $gray;
				line-height: 20px;
				padding-left: 10px;
			}
		}
	}
	.work-contacts {
		width: 430px;
		float: right;
		.work-sharer {
			.title {
				display: none;
			}
			.rating {
				float: left;
				padding: 14px 0 0 15px;
				p {
					font-size: 14px;
				}
			}
			.social {
				float: right;
			}
		}
		.work-form {
			padding: 15px 0 100px 20px;
			min-height: 920px;
			.alert {
				margin: 40px auto!important;
			}
			> p {
				font-size: 14px;
				color: $gray;
				line-height: 21px;
				margin: 20px 0 0 0;
				padding: 0 35px 0 5px;
			}
			.price {
				padding-top: 15px;
			}
			.value {
				font-size: 13px;
				text-decoration: line-through;
			}
			.descount {
				display: block;
				margin-top: -5px;
				color: $blue;
				span {
					font-size: 25px;
				}
				small {
					margin-top: -8px;
					display: block;
					font-size: 14px;
					strong {
						font-size: 18px;
					}
				}
			}
			.soldout {
				color: $red;
				font-size: 20px;
				padding: 5px 0;
				text-transform: uppercase;
			}
			.consult {
				display: block;
				color: #0083CA;
				font-size: 18px;
				padding: 5px 0;
				text-transform: uppercase;
			}
		}
		.forms {
			padding: 0 25px 15px 9px!important;
			.form-error {
				margin: 23px 0 0 -130px!important;
			}
			.button {
				padding: 0 10px!important;
			}
		}
	}
}

// Pagination
.pagination {
	display: table;
	margin: 0 auto;
	li {
		float: left;
		a {
			display: block;
			position: relative;
			padding: 10px 15px;
			font-size: 14px;
			color: $blue-light;
			border: 1px solid $content-border;
			border-left: none;
			i {
				position: absolute;
				top: 8px;
				left: 7px;
				font-size: 23px;
			}
			span {
				width: 10px;
				display: block;
				text-indent: -9999px;
			}
			&:hover {
				background-color: $gray-light;
			}
			&.current {
				color: $white;
				background-color: $blue-light;
			}
			/*
			&.first {
				border-left: 1px solid $content-border;
				@include border-radius(3px 0 0 3px);
			}
			&.last {
				@include border-radius(0 3px 3px 0);
			}
			*/
		}
		&:first-of-type a {
			border-left: 1px solid $content-border;
			@include border-radius(3px 0 0 3px);
		}
		&:last-of-type a {
			@include border-radius(0 3px 3px 0);
		}
	}
}

// Filter Alphabetical
.select-artist {
	display: none;
	width: 1080px;
	position: fixed;
	top: 45px;
	left: 50%;
	margin: 0 0 0 -540px;
	background-color: $black;
	height: 37px;
	z-index: 9999999;
	h4 {
		color: #fff;
		font-weight: $light;
		font-size: 15px;
		float: left;
		padding: 10px 0 0 17px;
		font-variant: small-caps;
	}
}
.filter-letter {
	display: table;
	margin: 10px 0;
	&.filter-fixed {
		position: fixed;
		top: 45px;
		left: 50%;
		margin: 0 0 0 -310px;
		z-index: 9999999;
	}
	li {
		float: left;
		a {
			height: 37px;
			display: block;
			padding: 4px 10px;
			background-color: $black;
			color: $white;
			border-top: 2px solid $black;
			border-bottom: 3px solid $black;
			margin-right: 1px;
			font-size: 18px;
			&:hover {
				background-color: lighten($black, 10%);
				border-bottom-color: $red;
			}
		}
		&.current {
			// border: 1px solid $black;
			margin-right: 1px;
			a {
				background-color: $white;
				border-color: $white;
				color: $red;
				border-bottom-width: 1px;
			}
		}
	}
}

// Profile
.profile-banner {
	display: block;
	overflow: hidden;
	width: 845px;
	height: 200px;
	margin-bottom: 25px;
	img {
		width: 100%;
		max-width: 100%;
	}
}
.profile-about {
	display: block;
	clear: both;
	margin-bottom: 40px;
	p {
		display: block;
		padding: 10px 5px;
		font-size: 16px;
		font-style: italic;
		color: lighten($black, 10%);
	}
}


// Star Rating
.star-rating {
	display: none!important;
	&:hover {
		// unicode-bidi: bidi-override;
		// direction: rtl;
	}
	li { 
		display: inline-block;
		position: relative;
		cursor: pointer;
		i {
			font-size: 18px;
			color: #e7e7e7;
			@include transition(all 0.3s $ease);
		}
		span {
			display: none;
			// display: block;
			position: absolute;
			top: -33px;
			left: 50%;
			margin: 0 0 0 -13px;
			color: #FFF;
			padding: 4px 10px !important;
			background-color: #000;
			background-color: rgba(0, 0, 0, 0.8);
			@include border-radius(2px);
			&:after {
				position: absolute;
				bottom: -5px;
				left: 50%;
				margin-left: -5px;
				content: "";
				@include arrow(10px, 5px, 'down', rgba(0, 0, 0, 0.8));
			}
		}
		&.active {
			i {
				color: $yellow-light;
			}
		}
		&:hover,
		&.hovered {
			i {
				color: $gray;
			}
		}
	}
}

.error-message {
	display: none; 
	position: absolute; 
	top: 32px;
	left: -190px;
	width: auto;
	background: $red;
	color: $white;
	font-size: 12px;
	padding: 4px 25px 5px 10px;
	font-size: 12px;
	@include border-radius(5px);
	&:before {
		content: "";
		position: absolute;
		top: 9px;
		left: -5px;
		@include arrow(5px, 10px, 'left', $red);
	}
}

// Messages 
.global-notification {
	display: none;
	position: fixed;
	top: 55px; 
	right: 20px;
	padding-right: 40px!important;
	&:after {
		display: block;
		cursor: pointer;
		content: "\e624";
		position: absolute;
		top: 15px;
		right: 10px;
		font-size: 15px;
		@extend .icon;
	}
}
.alert { 
	padding: 15px;
	margin: 10px auto;
	border: 1px solid transparent;
	@include border-radius(4px);
	&.alert-success {
		color: #3C763D;
		background-color: #DFF0D8;
		border-color: #D6E9C6;
	}
	&.alert-info {
		color: #31708F;
		background-color: #D9EDF7;
		border-color: #BCE8F1;
	}
	&.alert-warning {
		color: #8A6D3B;
		background-color: #FCF8E3;
		border-color: #FAEBCC;
	}
	&.alert-danger {
		color: #A94442;
		background-color: #F2DEDE;
		border-color: #EBCCD1;
	}
}

#form-news-msg {
	display: none;
	padding-top: 2px;
	text-align: center;
	i {
		display: inline-block;
		margin: 0 auto!important;
		font-size: 30px;
		color: #fff;
		padding: 10px;
		background-color: $red;
		@include border-radius(100%);
	}
	p {
		font-size: 18px!important;
		color: #fff!important;
		padding: 22px 0 0 0!important;
	}
}

.its-bronze,
.its-super {
	display: none;
}

.zoomContainer {
	z-index: 20;
	div {
		// @include border-radius(2px);
	}
}
.zoomWindowContainer {
	div {
		// margin-top: 70px!important;
	}
}

.sprite-flag-default {
	background: image-url('flag-default.png') 0 0 no-repeat!important;
}

