// Animations

@import "mixins/animation";

//1. Arrow Move to Down
@include keyframes(arrow-down) {
    0% {
        bottom: 15px;
    }  
    50%  {
        bottom: 25px;
    }  
    100%   {
        bottom: 15px;
    }   
}

// 2. Linear Rotation
@include keyframes(rotation) {
    0% {
        @include transform(rotate(0deg));
    } 
    100%   {
        @include transform(rotate(360deg));
    }  
}