// Fonts

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light Italic'), 
	     local('OpenSansLight-Italic'), 
	     url('https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff') format('woff');
	font-style: italic;
	font-weight: $light;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'), 
	     local('OpenSans'), 
	     url('https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
	font-style: normal;
	font-weight: $regular;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Semibold'), 
	     local('OpenSans-Semibold'), 
	     url('https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
	font-style: normal;
	font-weight: $semibold;
}