// Footer

footer#footer {
	width: 100%;
	margin-top: 80px;
	display: block;
	clear: both;
	padding: 15px 0 10px;
	background-color: $black;
	.footer-column {
		display: block;
		float: left;
		&.column-one {
			width: 330px;
		}
		&.column-two {
			margin-left: 85px;
			width: 360px;
			.input {
				border: 1px solid $white!important;
				@include placeholder {
					color: lighten($black, 25%);
				}
			}
			.email {
				width: 340px;
				margin-bottom: 10px;
			}
			.name {
				width: 205px;
				margin-right: 10px;
			}
			.register {
				width: 122px;
			}
		}
		&.column-three {
			float: right;
			width: 215px;
			p {
				clear: both;
				color: $gray;
				margin-top: 10px;
			}
		}
		p {
			font-size: 12px;
			color: darken($white, 25%);
			line-height: 20px;
			a {
				color: $red;
				&:hover {
					color: $white;
				}
			}
		}
		h4 {
			color: $white;
			font-size: 16px; 
			padding-bottom: 10px;
		}
		a {
			clear: both;
		}
	}
}

.bottom-links {
	display: block;
	clear: both;
	margin-top: 15px;
	padding-top: 8px;
	height: 35px;
	background-color: $black-dark;
	p {
		float: left;
		color: $gray;
		font-size: 12px;
	}
	ul {
		float: right;
		li {
			display: inline-block;
			a {
				display: block;
				color: $gray;
				font-size: 12px;
				padding: 0 5px;
				border-right: 1px solid $gray;
				&:hover {
					color: $white; 
				}
			}
			&:last-child a {
				border: none;
			}
		}
	}
}










