// Header

.header {
	width: 100%;
	height: 135px;
	padding: 25px 0;
	.logo {
		float: left;
	}
	.search-form {
		float: left;
		margin-left: 40px;
		width: 450px;
		.search-input {
			display: block;
			float: left;
			width: 395px!important;
			&:focus {
				color: $red!important;
				border-color: $red!important;
			}
		}
		.search-button {
			display: block;
			float: left;
			width: 55px;
			height: 35px!important;
			margin-left: -5px;
			i {
				font-size: 18px;
				position: absolute;
				top: 8px;
				left: 17px;
			}
			span {
				display: none;
			}
		}

	}
	.contact-info {
		float: right;
		p {
			padding: 6px 0 5px 0;
			line-height: 18px;
			i {
				float: left;
			}
			strong {
				padding: 5px;
				float: left;
				display: block;
				color: darken($gray, 10%);
				font-size: 22px;
				font-weight: normal;
			}
		}
		.region {
			display: block;
			clear: both;
			padding: 6px 0 0 5px;
			span {
				display: inline-block;
				font-size: 15px;
				text-transform: uppercase;
				color: $black;
				&.flag {
					margin-right: 6px;
				}
			}
		}
	}
	.search-form,
	.contact-info {
		padding-top: 10px;
		p {
			font-size: 20px;
			color: $gray;
			padding-bottom: 5px;
		}
	}
	.profile-name {
		width: 70%;
		margin-top: -4px;
		display: inline-block;
		float: left;
		.thumbnail {
			float: left;
			width: 95px;
			height: 95px;
			margin-right: 15px;
			overflow: hidden;
			img {
				max-width: 100%;
			}
		}
		.name {
			display: inline-block;
			// line-height: 30px;
			padding-top: 12px;
			h2, p {
				color: $black;
				text-transform: uppercase;
				@include ellipsis(640px);
			}
			h2 {
				font-size: 38px;
				font-weight: $semibold;
			}
			p {
				font-size: 15px;
				padding-left: 4px;
				margin-top: -8px;
			}
		}
	}
}


// Top Links
.top-links {
	display: block;
	background-color: $gray-light;
	border-top: 4px solid $red;
	border-bottom: 1px solid #E7E7E7;
	padding: 10px 0;
	height: 45px;
	.back-home {
		margin-top: -10px;
		display: inline-block;
		float: left;
		a {
			margin: 0;
			padding: 0;
			font-size: 16px;
			text-transform: uppercase;
			color: $red;
		}
	}
	ul { 
		float: right;
		li {
			display: inline-block;
			margin-left: 35px;
		}
	}
	a {
		font-size: 14px;
		color: $gray;
		&:hover {
			color: $red;
		}
		&.login {
			position: relative;
			float: left;
			padding-left: 25px;
			i {
				position: absolute;
				color: $red;
				top: 0;
				left: 0;
				font-size: 18px; 
			}
		}
	}
}

@mixin menu-buttons {
	position: relative;
	padding: 13px 25px;
	height: 45px;
	color: #EFEFEF;
	font-size: 14px;
	border-bottom: 2px solid $black;
	@include transition(padding .2s $ease, background-color .7s $ease, border-bottom-color .7s $ease);
	i {
		position: absolute;
		top: 11px;
		left: 15px;
		font-size: 20px;
	}
	&:hover {
		padding-top: 10px;
		padding-bottom: 16px;
		background-color: lighten($black, 10%);
		border-bottom-color: $red;
	}
	&.current {
		border-bottom-color: $red;
	}
}
.wrapper-menu {
	height: 45px;
	display: block;
}
.menu { 
	clear: both;
	height: 45px;
	// border-bottom: 2px solid #2F4154;
	text-transform: uppercase; 
	background-color: $black;
	ul {
		li {
			display: block;
			float: left;
			a {  
				display: block;
				@include menu-buttons;
				span {
					display: none;
				}
			} 
		}
	}
	&.fixed {
		width: 1080px;
		position: fixed;
		top: 0;
		left: 50%;
		margin: 0 0 0 (1080px / -2);
		z-index: 99999999999;
	}
}

.liked {
	display: inline-block;
	float: right;
	padding: 13px 45px 13px 25px!important;
	@include menu-buttons;
	i {
		left: auto;
		top: 13px;
		right: 19px;
		font-size: 17px;
	}
	&.current {
		i {
			color: $red;
		}
	}
}

.pull-button {
	display: block;
	z-index: 9999;
	text-indent: -9999px;
	position: relative;
	float: left;
	margin: -2px 20px 0 0;
	width: 25px;
	height: 25px;
	&:before, 
	span:before,
	span:after {
		display: block;
		content: "";  
		width: 100%;
		height: 4px;
		position: absolute;
		left: 0;
		background-color: $red;
		@include transition(all 0.15s ease-in);
	}
	&:before {
		top: 50%;
		margin-top: -3px;
	}
	span {
		&:before {
			top: 0;
		}
		&:after {
			bottom: 1px;
		}
	}
	// When menu is opened
	&.opened {
		&:before {
			@include opacity(0);
		}
		span {
			&:before {
				@include transform(translateY(250%) rotate(45deg));
			}
			&:after {
				@include transform(translateY(-250%) rotate(-45deg));
			}
		}
	}
}

.menu-pull {
	display: none;
	background: #E7E7E7;
	width: 100%;
	height: auto;
	position: absolute;
	top: 45px;
	left: 0;
	z-index: 999;
	border-bottom: 1px solid #d7d7d7;
	ul {
	float: none;
	display: table;
	margin: 0 auto;
		li {
			display: block;
			float: left;
			a {
				display: block;
				padding: 11px 15px 12px 15px;
				&:hover {
					background-color: $red;
					color: #fff;
				}
			}
		}
	}
}
