// Helpers

@import "mixins/animation";

.wrapper {
	position: relative;
	display: block;
	width: $page-width;
	margin: 0 auto;
	// border: 1px solid red;
}

.clear {
	clear: both;
}

.row { 
	display: block;
	clear: both;
}
 
.hide-text {
	display: block;
	text-indent: -9999px;
}

.block {
	display: block!important;
}

.none {
	display: none;
}

.centered {
	margin: 0 auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.normal {
	font-style: normal;
}

.italic {
	font-style: italic;
}

.rounded {
	@include border-radius($input-radius);
}
.rounded-right {
	@include border-radius(0 $input-radius $input-radius 0);
}
.rounded-left {
	@include border-radius($input-radius 0 0 $input-radius);
}

.grabbing { 
    cursor: image-url('grabbing.png') 8 8, move;
}

.red {
	color: $red!important;
}

.icon-animated {
	display: inline-block;
	@include animation(rotation 1s infinite $linear);
}

.column-half {
	width: 49%;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

.column-third {
	width: 33.333333333%;
	position: relative;
	display: inline-block;
}
