@font-face {
	font-family: 'IconMoon';
	src: font-url('IconMoon.eot?-3josrw');
	src: font-url('IconMoon.eot?#iefix-3josrw') format('embedded-opentype'),
		 font-url('IconMoon.woff?-3josrw') format('woff'),
		 font-url('IconMoon.ttf?-3josrw') format('truetype'),
		 font-url('IconMoon.svg?-3josrw#IconMoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'IconMoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Custom Styles */
	position: relative;
	&.icon-cross-big {
		font-size: 95px!important;
		margin: -17px 0 0 -2px;
		display: block;
	}
}

.icon-add-favorite:before {
	content: "\e603";
}
.icon-home:before {
	content: "\e600";
}
.icon-home-dark:before {
	content: "\e601";
}
.icon-pencil:before {
	content: "\e602";
}
.icon-paint-format:before {
	content: "\e604";
}
.icon-image:before {
	content: "\e605";
}
.icon-image-line:before {
	content: "\e606";
}
.icon-images:before {
	content: "\e607";
}
.icon-profile:before {
	content: "\e60c";
}
.icon-file:before {
	content: "\e60d";
}
.icon-copy:before {
	content: "\e60e";
}
.icon-barcode:before {
	content: "\e60f";
}
.icon-qrcode:before {
	content: "\e610";
}
.icon-coin:before {
	content: "\e612";
}
.icon-phone:before {
	content: "\e613";
}
.icon-address-book:before {
	content: "\e615";
}
.icon-location:before {
	content: "\e617";
}
.icon-clock:before {
	content: "\e619";
}
.icon-alarm-line:before {
	content: "\e61b";
}
.icon-calendar:before {
	content: "\e61c";
}
.icon-print:before {
	content: "\e61d";
}
.icon-screen:before {
	content: "\e61e";
}
.icon-box-add:before {
	content: "\e61f";
}
.icon-user:before {
	content: "\e626";
}
.icon-users:before {
	content: "\e627";
}
.icon-search:before {
	content: "\e628";
}
.icon-zoom-in:before {
	content: "\e629";
}
.icon-zoom-out:before {
	content: "\e62a";
}
.icon-expand:before {
	content: "\e62b";
}
.icon-heart:before {
	content: "\e62f";
}
.icon-heart-line:before {
	content: "\e630";
}
.icon-heart-partial:before {
	content: "\e631";
}
.icon-check:before {
	content: "\e637";
}
.icon-check-line:before {
	content: "\e638";
}
.icon-arrow-circle-up:before {
	content: "\e641";
}
.icon-arrow-circle-right:before {
	content: "\e642";
}
.icon-arrow-circle-down:before {
	content: "\e643";
}
.icon-arrow-circle-left:before {
	content: "\e644";
}
.icon-checkbox-unchecked:before {
	content: "\e646";
}
.icon-checkbox-partial:before {
	content: "\e647";
}
.icon-checkbox-checked:before {
	content: "\e645";
}
.icon-radio-unchecked:before {
	content: "\e649";
}
.icon-radio-checked:before {
	content: "\e648"!important;
}
.icon-loader-1:before {
	content: "\e608";
}
.icon-loader-2:before {
	content: "\e609";
}
.icon-loader-3:before {
	content: "\e60a";
}
.icon-loader-4:before {
	content: "\e60b";
}
.icon-loader-5:before {
	content: "\e611";
}
.icon-loader-6:before {
	content: "\e614";
}
.icon-star-line:before {
	content: "\e650";
}
.icon-star:before {
	content: "\e651";
}
.icon-star-partial:before {
	content: "\e652";
}
.icon-google-plus:before {
	content: "\e656";
}
.icon-facebook:before {
	content: "\e657";
}
.icon-instagram:before {
	content: "\e616";
}
.icon-twitter:before {
	content: "\e658";
}
.icon-rss:before {
	content: "\e659";
}
.icon-youtube:before {
	content: "\e65a";
}
.icon-flickr:before {
	content: "\e618";
}
.icon-picassa:before {
	content: "\e61a";
}
.icon-dribbble:before {
	content: "\e620";
}
.icon-pinterest:before {
	content: "\e621";
}
.icon-chrome:before {
	content: "\e65b";
}
.icon-firefox:before {
	content: "\e65c";
}
.icon-internet-exploder:before {
	content: "\e65d";
}
.icon-opera:before {
	content: "\e65e";
}
.icon-safari:before {
	content: "\e65f";
}
.icon-exclamation:before {
	content: "\e622";
}
.icon-question:before {
	content: "\e623";
}
.icon-close:before {
	content: "\e624";
}
.icon-chat:before {
	content: "\e625";
}
.icon-comment:before {
	content: "\e62c";
}
.icon-camera:before {
	content: "\e62d";
}
.icon-lock:before {
	content: "\e62e";
}
.icon-lock-open:before {
	content: "\e632";
}
.icon-cross:before {
	content: "\e633";
}
.icon-minus:before {
	content: "\e634";
}
.icon-plus:before {
	content: "\e635";
}
.icon-arrow-left-medium:before {
	content: "\e636";
}
.icon-arrow-down-medium:before {
	content: "\e639";
}
.icon-arrow-up-medium:before {
	content: "\e63a";
}
.icon-arrow-right-medium:before {
	content: "\e63b";
}
.icon-arrow-left-small:before {
	content: "\e63c";
}
.icon-arrow-down-small:before {
	content: "\e63d";
}
.icon-arrow-up-small:before {
	content: "\e63e";
}
.icon-arrow-right-small:before {
	content: "\e63f";
}
.icon-arrow-left-big:before {
	content: "\e640";
}
.icon-arrow-down-big:before {
	content: "\e64a";
}
.icon-arrow-up-big:before {
	content: "\e64b";
}
.icon-arrow-right-big:before {
	content: "\e64c";
}
