// Reset
 
* {
	margin: 0;
	padding: 0;
	font-style: inherit;
	@include box-sizing(border-box);
}

a {
	text-decoration: none;
	@include transition(all 0.6s $ease);
}

input, button, textarea, a {
	outline: none;
}

img {
	border: none;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

header, footer, nav, aside, section, article {
	display: block;
}

strong {
	font-weight: bold;
}

body {
	font: {
		family: $base-font-family;
		size: $base-font-size;
	}
	color: $base-font-color;
	overflow-x: hidden;
	color: $base-font-color;
}

hr {
	display: block;
	clear: both;
	width: 100%;
	height: 1px;
	margin: 10px 0;
	border: none;
	background-color: $content-border;
}

::selection {
	background: $red;
	color: $white;
}

::-moz-selection {
	background: $red;
	color: $white;
}
