// Sidebar

#sidebar {
	display: block;
	float: left;
	width: 220px;
	border: 1px solid $content-border;
	.social {
		padding-top: 0!important;
	}
	.box-content {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0!important;
		}
	}
}

.box {
	.title {
		display: block;
		height: 35px;
		padding: 8px 0;
		color: $white;
		font-size: 13px;
		text-align: center;
		text-transform: uppercase;
		background-color: $black;
		&.align-left {
			text-align: left!important;
			padding-left: 10px;
		}
	}  
	.box-content {
		padding: 10px;
		.subtitle {
			display: block;
			clear: both;
			padding-top: 10px;
			color: $black;
			font-size: 14px;
			font-weight: $semibold;
		}
		ul {
			padding-top: 10px;
			li {
				display: block;
				margin-bottom: 2px;
				label {
					color: $gray;
					font-size: 13px;
					position: relative;
					padding-left: 24px;
					cursor: pointer;
					i {
						position: absolute;
						top: 4px;
						left: 3px;
						font-size: 13px;
					}
					&:hover,
					&.selected {
						color: $black;
						i {
							color: $black;
						}
					}
				}
				input {
					// display: none;
					visibility: hidden;
				}
			}
			&.categories {
				li {
					label {
						padding-left: 18px;
						i {
							top: 3px;
							left: 2px;
							font-size: 14px;
						}
					}
					&.selected {
						label {
							color: $red;
							i {
								color: $red;
							}
							span {
								font-weight: $semibold;
							}
						}
					}
				}
			}
		}
		.button {
			margin: 20px 0 0 0;
			display: block;
			width: 100%;
			text-align: center;
		} 
		.colors {
			display: block;
			width: 150px;
			// padding-top: 5px;
			margin: 7px 0 10px 4px;
			input { 
				// display: none;
			}
		}
		.color {
			display: block;
			float: left;
			// text-indent: -9999px;
			position: relative;
			cursor: pointer;
			width: 30px;
			height: 30px;
			margin: 0 5px 5px 0;
			border: 1px solid $content-border;
			label {
				display: block;
				// background-color: red;
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include transition(all 0.6s $ease);
				span {
					font-size: 1px;
					display: none;
				}
				input {
					visibility: hidden;
					/*
					position: absolute;
					top: 0;
					left: 0;
					width: 30px;
					height: 30px;
					*/
				}
			}
			&:hover {
				border-color: lighten($black, 10%)!important;
			}
			&.selected {
				label {
					border: 2px solid lighten($black, 10%)!important;
				}
			} 
			&.red { 
				background-color: #cc0000;
			}
			&.orange { 
				background-color: #fb940b;
			}
			&.yellow { 
				background-color: #ffff00;
			}
			&.green { 
				background-color: #00cc00;
			}
			&.blue-light { 
				background-color: #03c0c6;
			}
			&.blue { 
				background-color: #0000ff;
			}
			&.purple { 
				background-color: #762ca7;
			}
			&.pink { 
				background-color: #ff98bf;
			}
			&.white { 
				background-color: #fff;
			}
			&.gray { 
				background-color: #999;
			}
			&.black { 
				background-color: #000;
				&.selected {
					label {
						border-color: $red!important;
					}
				}
			}
			&.brown { 
				background-color: #885418;
			}
		}
	}
	&.facebook-box {
		margin-top: 35px;
		.box-content {
			overflow: hidden;
			padding: 0!important;
		}
		iframe {
			margin: 0 0 0 -5px;
			border: none; 
			overflow:hidden; 
			// width: 235px; 
			width: 228px;
			height: 560px;
		}
	}
	.quickly-faq {
		// height: 208px;
		height: 143px; 
		padding-top: 0!important;
		li {
			float: none;
			// padding: 8px 0;
			padding: 5px 0;
			border-bottom: 1px solid $content-border;
			&:last-child {
				border: none;
			}
			a {
				display: block;
				color: $red;
				font-size: 14px;
				&:hover {
					color: $black;
				}
			}
		}
	}
}