// Variables

// Colours 
$red: 								#E54E53;
$black: 							#19232D;
$black-dark: 						#121a21;
$blue: 								#0083CA;
$blue-light: 						#428bca;
$white: 							#ffffff;
$gray: 								#727272;
$gray-light: 						#F2F2F2;
$yellow-light: 						#F3BF34;
$orange: 							#E06400;
$orange-light: 						#F19300;

// Buttons
$rss: 								#f8bc2e;
$google-plus: 						#333333;
$facebook: 							#39599f;
$twitter: 							#45b0e3;
$youtube: 							#e70031;

// Messages
$error-color:                       $red;
$success-color:                     #00c402;
$warning-color:                     #2bb6ff;
$alert-color:                       #f3d300;

// Forms
$input-color: 						#d4d4d4;
$input-border: 						#eaeaea;
$input-radius: 						3px;

// Content
$content-border: 					#e9e9e9;


// Fonts
$base-font-family:              	'Open Sans';
$base-font-size:              		12px;
$base-font-color:              		$gray;
$light:              			    300;
$regular:              			    400;
$semibold:              			600;

// Pages
// $page-width: 						960px;
$page-width: 						1080px;

// Header
$header-height:            			85px;

// Footer
$footer-height:            			105px;

// Sliders
$primary-slider: 					350px;

// Effects
$linear: 							cubic-bezier(0, 0, 1, 1);
$ease: 								cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-in: 							cubic-bezier(0.42, 0, 1, 1);
$ease-out: 							cubic-bezier(0, 0, 0.58, 1);
$ease-in-out: 						cubic-bezier(0.42, 0, 0.58, 1);


