#ie-alert {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: image-url('overlay.png') 0 0 repeat;
	z-index: 9998;
}

#ie-content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -400px;
	width: 800px;
	height: 600px;
	text-align: center;
	p {
		font-size: 17px;
		line-height: 25px;
		color: #fff;
		font-family: 'Open Sans', Arial;
		font-weight: 300;
		margin-top: 25px;
		&.big {
			margin-top: 35px;
			display: block;
			clear: both;
			font-size: 35px;
			span {
				display: block;
				font-size: 12px;
				padding-top: 7px;
			}
		}
	}
	ul {
		display: block;
		width: 450px;
		margin: 30px auto;
		li {
			display: block;
			float: left;
			width: 25%;
			text-align: center;
			img {
				border: none;
			}
			span {
				display: block;
				color: #fff;
				font-size: 13px;
				line-height: 15px;
				font-family: 'Open Sans', Arial;
				font-weight: 300;
				padding-top: 10px;
			}
		}
	}
}
#ie-button {
	display: none;
	clear: both;
	background-color: #e24b55;
	color: #fff;
	font-size: 15px;
	font-family: 'Open Sans', Arial;
	font-weight: 300;
	padding: 11px 18px;
	margin-top: 25px;
	border-bottom: 3px solid #d7232e;
	text-transform: uppercase;
	font-weight: 400;
	&:hover {
		background-color: #fff;
		color: #e24b55;
	}
}



